.main-auth-page{
    width: 100%;
    background: #fcfcfc;
    height: 100vh;
    display: flex;
    gap: 4px;
    .full-screen{

    .side-bar{
        display: flex;
        height: 100%;
        width: auto;
    }
    width: 100%;
    
    }
    .half{
        margin-left: 230px;
    }
}