.footer-container{
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    background: #000;
    width: 100%;
    flex-direction: column;
    // position: absolute;
    // bottom: 0px;
    .footer-body{
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-self: stretch;
        gap: 32px;
        padding: 12px;
        .contact-div{
            display: flex;
            flex-direction: column;
            gap: 16px;
            justify-content: center;
            align-self: stretch;
            align-content: center;
            
        }
        .info-div{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-self: stretch;
            align-items: flex-start;
            gap: 16px;
            padding: 8px;
            .footer-txt{
                color: #fff;
                font-size: 13px;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                gap: 8px;
            }
            .email-span{
                position: relative;
                .email-icon{
                    position: absolute;
                    right: 10px;
                    top: 7px;
                }
            }
        }
    }
    .copy-rite{
        border-top: 1px solid #f1f1f1;
        display: flex;
        justify-content: center;
        align-self: stretch;
        align-items: center;
        background: #212121;
        color: #f1f1f1;
        padding: 12px;
        font-size: 12.5px;
    }
}

.footer-title{
    color: #fff;
    font-size: 'DM-sans';
    font-size: 25px;
    font-weight: 700;

}
.info-text{
    font-size: 13px;
    color: #fff;
    
}

input{
    border-radius: 7px;
    background: transparent;
    border: 1px solid #f1f1f1;
    padding: 8px;
    color: #f1f1f1;
    font-size: 12.85px;
    font-weight: 500;

}:focus{
    outline: 1px  #f1f1f1;
    border: #f1f1f1;
}

.footer-icon, .email-icon{
    width: 16px;
    height: 16px;
    color: #fff;
}


@media (max-width:760px) {
    .footer-body{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}