.fields{
    width: 100%;
    .field-span{
        display: flex;
        align-self: stretch;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
        .img{
            width: 16px;
            height: 16px;
            position: absolute;
            left: 16px;
    
        }
        .psd-img{
            width: 16px;
            height: 16px;
            position: absolute;
            right: 16px;
            cursor: pointer;
            top: 10px;
        }
        .field, .pswd-field{
          border: 1px solid #e5e5e5;
          border-radius: 8px;
          padding: 10px 12px 10px 36px;
          width: 100px;
          color: #333;
          font-family: "DM sans";
          font-size: 12px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
    
          ::placeholder{
              font-size: 12px;
              color: #666;
          }
    
          :active{
              border:1px solid #DB4444;
             font-family: "DM sans";
          }
        }
        .err-field{
          border: 1px solid red;

        }
        

        .pswd-field{
            padding: 10px 12px !important;
        }
    }
}
.err-msg{
    font-size: 10px;
    color: red;
}