.fields{
    width: 100%;
    .field-span{
        display: flex;
        align-self: stretch;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
        .img{
            width: 16px;
            height: 16px;
            position: absolute;
            left: 16px;
            bottom: 10px;
        }
        .psd-img{
            width: 16px;
            height: 16px;
            position: absolute;
            right: 16px;
            cursor: pointer;
            top: 10px;
        }
        .field, .pswd-field{
          border: 1px solid #666;
          border-radius: 8px;
          padding: 10px 12px 10px 36px;
          width: 100px;
          color: #333;
          font-family: 'Times New Roman', Times, serif;
          font-size: 12px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
    
          ::placeholder{
              font-size: 12px;
              color: #666;
          }
    
          :active{
              border:1px solid #DB4444;
             font-family: "DM sans";
          }
        }
        .err-field{
          border: 1px solid red;

        }
        

        .pswd-field{
            padding: 10px 12px !important;
        }
    }
}
.err-msg{
    font-size: 10px;
    color: red;
}

.dropdown-field{
    justify-content: space-between !important;
    background: #fff;
    cursor: pointer;
    .dropdown-list{
        background: #fff;
        position: absolute;
        box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
        top: 30px;
        left: 5px;
        border: 1px solid #e5e5e5;
        padding: 8px;
        gap: 8px;
        display: flex;
        border-radius: 10px;
        width: 100%;
        z-index: 10000;
        overflow: auto;
        height: 150px;
        flex-direction: column;
        cursor: pointer;
        .dropdown-option{
            padding: 2px;
        }
    }
    .select-icon{
        width: 16px;
        height: 16px;
    }
}
.select-field-div{
    width: 100%;
}