.sign-container{
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;

    .rite{
        display: flex;
        flex-direction: column;
        align-self: stretch;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding: 16px;
        width: 100%;
        .sign-title{
            font-size: 25px;
            color: #212121;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
        }
        .sign-sub{
            font-size: 14px;
            color: #333;
            font-family: 'Courier New', Courier, monospace;
        }
        .form{
            display: flex;
            align-self: stretch;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 8px;
            padding: 0px 16px;

            .field{
              display: flex;
              align-self: stretch;
              
             
            }
            .signup-btns{
                display: flex;
                flex-direction: column;
                gap: 8px;
                justify-content: center;
                align-self: stretch;
                align-items: center;

                .btn{
                    width: 100%;
                }
            }
            .already{
                margin-top: 16px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                align-self: stretch;
                font-size: 12px;
                color: #333;
                .sign-in{
                    margin-left: 2px;
                    color: #4e9fe5;
                    font-size: 12px;
                    text-decoration: none;
                }
            }

        }
    }
}

@media (max-width:768px) {
    .login-img{
        display: none;
    }
    .sign-container{
        height: 100vh;
    }
}