.order-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    height: 100vh;
    background: #e5e5e5;
    .orders-div{
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 20px 64px;
        .title{
            font-size: 24px;
            color: #333;
            font-weight: bolder;

        }
        .outer-div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: stretch;
            gap: 16px;
            height: 100%;
            .nav-div{
                display: flex;
                align-self: stretch;
                justify-content: space-between;
                align-items: center;
                .tabs{
                    display: flex;
                    gap: 8px;
                    align-self: stretch;
                    justify-content: center;
                    .tab{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #333;
                        font-size: 12px;
                        padding: 12px;
                        border-radius: 10px;
                        border-bottom: 1px solid #e5e5e5;
                        cursor: pointer;
                        text-transform:capitalize;
                        transition: background-color 0.3s ease, transform 0.2s ease
                    }
                    :hover{
                       background-color: #E98C8C;
                        box-shadow: 0 4px 10px rgba(233, 140, 140, 0.4);
                        transform: translateY(-2px);
                    }
                    .active{
                        background: #DB4444;
                        color: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 12px;
                        padding: 12px;
                        border-radius: 10px;
                        cursor: pointer;
                        text-transform:capitalize;
                        transition: background-color 0.3s ease, transform 0.2s ease
                    }
                }
            }
            .orders{
                display: flex;
                flex-direction: column;
                gap: 4px;
                background: #fff;
                padding: 12px;
                max-height: 600px;
                overflow-y: auto;
                scrollbar-width: none;
                -ms-overflow-style: none;
                border-radius: 10px;
                height: 100%;
                align-items: center;
                .title-div{
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 align-self: stretch;
                 .title{
                    color: #666;
                    font-size: 13px;
                    font-weight: 600;
                    
                 }
                 .item{
                    max-width: 300px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                }
                .order-list{
                    display: flex;
                    align-self: stretch;
                    flex-direction: column;
                    gap: 8px;
                    .order{
                        display: flex;
                        justify-content: space-between;
                        align-self: stretch;
                        border-radius: 10px;
                        flex-direction: column;
                        gap: 8px;
                        .order-row{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            align-self: stretch;
                            flex-direction: column;
                            gap: 10px;

                            .item-detail{
                                border: 1px solid #f1f1f1;
                                display: flex;
                                gap: 2px;
                                align-self: stretch;
                                padding: 12px;
                                border-radius: 10px;
                                .detail{
                                    max-width: 1000px;
                                    display: flex;
                                    gap: 10px;
                                    .item-img{
                                        width: 150px;
                                        height: 130px;
                                    }
                                    .order-info{
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: flex-start;
                                        align-items: flex-start;
                                        gap: 8px;
                                        cursor: pointer;
                                        .item-name{
                                            font-size: 14px;
                                            color: #333;
                                            font-weight: 600;
                                            max-width: 600px;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                            overflow: hidden;
                                        }
                                        .reference{
                                            font-size: 12px;
                                            color: #666;
                                            font-weight: 400;
                                        }
                                        
                                        .status{
                                            font-size: 12px;
                                            font-weight: 500;
                                            border-radius: 10px;
                                            padding: 4px 8px;
                                            text-transform: capitalize;
                                            border: 1px solid #f1f1f1;
                                        }
                                        .deivered{
                                            background: #6EE7B7;
                                            // color: #064E3B;
                                            color: #fff;
                                        }
                                        .processing{
                                            color:#fff;
                                            background: #0369A1;
                                        }
                                        .in-transit{
                                            background: #FDBA74;
                                            color: #fff;
                                        }
                                        .pending{
                                            background: #1F2937;
                                            color: #fff;
                                        }
                                        .cancelled{
                                          background: #92400E;
                                          color: #fff;
                                        }

                                        .delivery-info{
                                            display: flex;
                                            align-items: center;
                                            padding: 4px;
                                            width: fit-content;

                                            .date-info{
                                                color: #444;
                                                font-size: 13px;
                                                font-weight: 500;
                                            }
                                        }
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}