.nav{
    width: 100%;
}
.checkout-container{
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .checkout-inner-div{
        display: flex;
        flex-direction: column;
        align-self: stretch;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        .checkout-body{
            display: flex;
            width: 100%;
            gap: 12px;
            justify-content: space-between;
            align-items: center;
            .checkout-lft{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-self: stretch;
                flex-direction: column;
                gap: 12px;
                .shipping-detail, .cart-items, .payment-div{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    padding: 8px 0px;
                    width: 100%;
                    border-radius: 8px;
                    .item-title{
                        font-weight: 900;
                        font-size: 24px;
                        color: #000;
                    }
                    .shipping-user-detail{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        align-self: stretch;
                        box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0, rgba(0, 0, 0, 0.1) 0 -3px 4px 0;
                        padding: 24px;
                        .detailll{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-start;
                            gap: 8px;

                            .full-name{
                                font-weight: 600;
                                font-size: 12px;
                                color: #333;
                            }

                            .contact-detail{
                                font-weight: 500;
                                font-size: 12px;
                                color: #666;
                            }
                        }
                        .change-detail{
                            font-size: 14px;
                            color: #DB4444;
                            font-weight: 600px;
                            cursor: pointer;
                        }
                    }

                    .cart-lists{
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        align-self: stretch;
                        justify-content: center;
                        align-items: center;
                        .cart-item-detail{
                            display: flex;
                            flex-direction: column;
                            gap: 4px;
                            box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0, rgba(0, 0, 0, 0.1) 0 -3px 4px 0;
                            justify-content: flex-start;
                            padding: 24px;
                            width: 100%;
                            .upper-detail{
                                display: flex;
                                align-self: stretch;
                                justify-content: flex-start;
                                align-self: stretch;
                                align-items: center;
                                .img-item{
                                    width: 200px;
                                    height: 200px;
                                }
                                .item-infor{
                                    display: flex;
                                    flex-direction: column;
                                    gap: 16px;
                                    justify-content: center;
                                    width: 100%;
                                    align-items: flex-start;
                                    .name{
                                        font-size: 12px;
                                        color: #212121;
                                        width: 100%;
                                        font-weight: 500;

                                        
                                    }
                                    .checkout-size-div{
                                        display: flex;
                                        gap: 8px;
                                        align-self: stretch;
                                        justify-content: flex-start;
                                        align-items: center;
                                    
                                        .size-txt{
                                            font-size: 12px;
                                            color: #666;
                                        }
                                        .size{
                                            color: #333;
                                            font-size: 12px;
                                        }
                                    }
                                    .price-qua-div{
                                        display: flex;
                                        justify-content: space-between;
                                        align-self: center;
                                        align-self: stretch;
                                       
                                        .price{
                                            font-size: 13px;
                                            color: #666;

                                        }
                                        .quantity{
                                            display: flex;
                                            gap: 6px;
                                            justify-content: center;
                                            align-items: center;

                                            .quantity{
                                                color: #333;
                                                font-size: 12px;

                                            }
                                            .increase-btn{
                                                cursor: pointer;
                                                background: #e5e5e5;
                                                padding: 4px 8px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                font-size: 14px;
                                                color: #000;
                                                border-radius: 7px;
                                            }
                                        }
                                    }
                                }
                            }
                            .lower-detail{
                                display: flex;
                                flex-direction: column;
                                align-self: stretch;
                                gap: 8px;
                                .shipping{
                                    color: #000;
                                    font-size: 12px;
                                }
                            }
                            
                        }

                    }

                }
            }
            .checkout-rgt{
                display: flex;
                justify-content: space-between;
                align-self: stretch;
                align-items: flex-start;
                box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0, rgba(0, 0, 0, 0.1) 0 -3px 4px 0;
                border-radius: 10px;
                flex-direction: column;   
                height: fit-content;

                .summary-header{
                    font-size: 24px;
                    color: #333;
                    display: flex;
                    justify-content: flex-start;
                    align-self: stretch;
                    padding: 16px 10px ;   
                    border-bottom: 1px solid #e5e5e5;
                }
                .summary-body{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    padding: 16px;
                    width: 100%;
                    .summary-items {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        align-self: stretch;
                        border-bottom: 1px solid #e5e5e5;
                        padding: 6px 0px;
                        .summary-title{
                            font-size: 13px;
                            color: #666;
                            font-weight: 600;
                        }
                        .summary-item{
                            font-size: 13px;
                            color: #000;
                            font-weight: 600;
                        }

                    }
                    .shipping-items{
                        padding: 8px 0px;
                        font-weight: 600;
                        border-top: 1px solid #e5e5e5;
                        width: 100%;

                        .shipping-title{
                            font-size: 14px;
                            color: #222;
                            font-weight: 600;
                            
                        }
                        .est-title{
                            font-size: 14px;
                            color: #222;
                            font-weight: 600;
                            
                        }
                    }

                    .btn{
                        width: 100%;
                    }
                }
                .cart-btn{
                    display: flex;
                    align-self: stretch;
                    justify-content: center;
                    padding: 4px;
                }
            }
        }

        .empty-state{
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: stretch;
            padding: 16px;

        }
    }
   
    .pg-footer{
        width: 100%;
        margin-top: 32px;
        position:sticky;
        width: 100%;
    // position: absolute;
    // bottom: 0px;
}
}


.display-address-modal{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 16px;

    .modal-header{
        width: 100%;
        display: flex;
        align-self: stretch;
        justify-content: space-between;
        .header-txt{
            color: #212121;
            font-size: 18px;
            font-weight: 600;

        }
        .sm-icon{
            width: 24px;
            height: 24px;
            cursor: pointer;
        }
    }
    .address-content{
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 8px;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        border: 1px solid #e5e5e5;
        border-radius: 8px;
        .name-detail{
            display: flex;
            align-self: stretch;
            justify-content: space-between;
            align-items: center;
            .full-name{
                  
                font-weight: 600;
                font-size: 12px;
                color: #333;
            }
            .edit{
                color: #DB4444;
                  
                font-size: 12px;
                font-weight: 400;
                cursor: pointer;
            }
        }

        .contact-detail{
              
            font-weight: 500;
            font-size: 12px;
            color: #666;
        }
    }
}
.address-modal{
    display: flex;
    gap: 12px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: #e5e5e5;
    border-radius: 10px;
    flex-direction: column;
    padding: 16px;
    .header{
        align-self: stretch;
        justify-content: space-between;
        align-items: flex-start;
        display: flex;
        border-bottom: 1px solid #e5e5e5 ;
        padding: 8px;
        width: 100%;
        .title{
              
            font-size: 16px;
            color: #212121;
        }
        .close{
            width: 24px;
            height: 24px;
            cursor: pointer;
        }
    }

    .address-body{
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        justify-content: center;
        align-items: center;
        .fields-div{
            display: flex;
            flex-direction: column;
            gap: 8px;
            width: 100%;
            justify-content: center;
            align-items: flex-start;

            .field-name{
                  
                color: #333;
                font-weight: 600;
                font-size: 16px;
            }
            .fields{
                display: flex;
                gap: 4px;
                align-self: stretch;

            }
        }
    }

    .footer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-self: stretch;
        border-top: 1px solid #e5e5e5;
        padding: 16px 0px;
        
        .btns{
            gap: 16px;
            display: flex;

        }
    }
}
@media (min-width:768px) {
    .checkout-body{
        padding: 16px 64px;
    }
    .checkout-lft{
            width: 60%;
    }
    .checkout-rgt{
        width: 28%;
    }
    .upper-detail{
        gap: 8px;

    }
    .display-address-modal, .address-modal{
        width: 600px;

    }
    .btn{
        width: 40%;    

    }
}



@media (max-width:768px) {
    .upper-detail{
        flex-direction: column;
        gap: 12px;

    }
    .display-address-modal, .address-modal{
        width: 300px;

    }
    .checkout-lft{
        width: 100%;
    }
    .checkout-body{
        flex-direction: column;
        padding: 12px 16px;
    }
    .fields{
        flex-direction: column;
    }
}

.disable-btn{
    cursor: none !important;
    pointer-events: none;
    opacity: .5;
}